:root,
:root::before,
student {
    display: block;
    line-height: 50px;
    padding-left: 5em;
}

:root::before {
    content: 'Student Index';
    text-align: center;
    font-size: 2.5rem;
    margin: 24px 0;
  }

:root {
    
}

student::before {   
    content: 'Student ID: ' attr(SID) '';
}

student {
    display: grid;
}

first-name::before {
    padding-left: 3em;
    content: 'First Name: ';
}

middle-name::before {
    padding-left: 3em;
    content: 'Middle Name: ';
}

last-name::before {
    padding-left: 3em;
    content: 'Last Name: ';
}

pref-name::before {
    padding-left: 3em;
    content: 'Preferred Name: ';
}

email::before {
    padding-left: 3em;
    content: 'Email: ';
}

phone::before {
    padding-left: 3em;
    content: 'Phone #: ';
}

year::before {
    padding-left: 3em;
    content: 'Year: ';
}

gpa::before {
    padding-left: 3em;
    content: 'GPA: ';
}

major::before {
    padding-left: 3em;
    content: 'Major: ';
}

minor::before {
    padding-left: 3em;
    content: 'Minor: ';
}

status::before {
    padding-left: 3em;
    content: 'Status: ';
}

advisor::before {
    padding-left: 3em;
    content: 'Advisor: ';
}

enroll-date::before {
    padding-left: 3em;
    content: 'Enrollment Date: ';
}

grad-date::before {
    padding-left: 3em;
    content: 'Graduation Date: ';
}